
<% if @authenticated %>

    <p><%= render "shared/top_banner" %></p>

<% else %>

<p><%= link_to "Sign up", new_user_path %> or <%= link_to "Log in", "/sessions/new?redirect_source=/products/#{@product.id}" %></p>

<% end %>
<p><%= link_to "Back", products_path %></p>

<h1>Here are the details for <%= @product.name %>:</h1>

    <%= image_tag(@product.image_url, height: "360")  %>

    <p><%= @product.name %></p>
    <p><%= @product.category %></p>
    <p><%= @product.description %></p>
    <p><%= @product.show_price %></p>
            
    <% if @authenticated %>
        <% if User.find_by(id:session[:user_id]).products.include?(@product) %>

            <p><%= link_to "Update", edit_product_path(@product) %> <%= link_to "Delete", product_path(@product), method:'delete' %></p>

        <% end %>
    <% end %>

<div class="show_reviews">

<%= render partial: "shared/show_review" %>

</div>

<% if @authenticated %>

    <h2>Submit a review for this product:</h2>

    <%= form_for [@product, @review], remote:true do |f| %>

        <p><%= f.label 'title', 'Title' %></p>
        <p><%= f.text_field 'title' %></p>

        <p><%= f.label 'content', 'Review' %></p>
        <p><%= f.text_area 'content' %></p>

        <p><%= f.hidden_field 'user_id', value: @user %></p>

        <p><%= f.submit 'Submit review' %></p>

    <% end %>

<% else %>

    <p><%= link_to "Log in", "/sessions/new?redirect_source=/products/#{@product.id}" %> to submit a review</p>

<% end %>
